.main-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-hb {
    background: #fff;
    border: 0;
    padding: 0;
    position: relative;
    border-radius: 2px;
    width: 41px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
  }
  .menu-hb svg {
    opacity: 1;
    width: 25px;
    height: 25px;
    fill: #000;
  }
  .menu-hb:hover svg {
    fill: #fff;
  }
  .rightSideMenuBar {
    width: 320px !important;
  }
  .rightSideMenuBar .list-group .list-group-item {
    background: transparent;
    border: 0;
    padding: 0;
  }
  .rightSideMenuBar .list-group .list-group-item a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 6px 0;
  }
  .rightSideMenuBar .list-group .list-group-item a svg {
    margin-right: 8px;
  }
  .rightSideMenuBar .btn-close {
    filter: invert(100%);
    opacity: 1;
  }